@charset "UTF-8";


/* 헤더 ----------------------------------------------------------------------------------------------------------------------------------*/


.loginBtnTd {
    width: 10%;
    text-align: center;
    vertical-align: middle;
}
.loginBtn {
    width: 80%;
    max-width: 150px;
    height: 40px;
    padding: 0;
    background-color: #dadada;
    color: #f2f2f2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.loginBtn:hover {
    background-color: #8fb1d5;
    color: #f2f2f2;
}

