@charset "UTF-8";


@charset "UTF-8";

/* 전체 Article 스타일 */
.show-board-article {
    max-width: 700px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #cdcdcd;
}

/* 제목 스타일 */
.show-board-title {
    text-align: center;
    color: #1b1b1c;
    background-color: #d2e5ee;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 1.2em;
}

/* 테이블 스타일 */
.show-board-table {
    width: 100%;
    border-collapse: collapse;
}

.show-board-th, .show-board-td {
    padding: 10px;
    text-align: left;
    border: 1px solid #cdcdcd;
}

.show-board-th {
    background-color: #d2e5ee;
    font-weight: bold;
    color: #1b1b1c;
    text-align: center;
}

.show-board-td {
    background-color: #f2f2f2;
    word-wrap: break-word;
}

/* 첨부 이미지 스타일 */
.attached-image {
    max-width: 400px;
    max-height: 300px;
    display: block;
    margin: 10px auto;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
}

/* 버튼 그룹 스타일 */
.show-board-button-group {
    text-align: center;
    margin-top: 20px;
}

.show-board-button {
    padding: 10px 20px;
    background-color: #d2e5ee;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
    margin: 5px;
}

.show-board-button:hover {
    background-color: #8fb1d5;
    color: white;
}
