@charset "UTF-8";


@charset "UTF-8";

/* Article 스타일 */
.update-board-article {
    max-width: 700px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #cdcdcd;
}

/* 제목 스타일 */
.update-board-title {
    text-align: center;
    color: #1b1b1c;
    background-color: #d2e5ee;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
}

/* Form 스타일 */
.update-board-form {
    width: 100%;
}

/* 테이블 스타일 */
.update-board-table {
    width: 100%;
    border-collapse: collapse;
}

.update-board-th,
.update-board-td {
    padding: 10px;
    text-align: left;
    border: 1px solid #cdcdcd;
}

.update-board-th {
    background-color: #d2e5ee;
    font-weight: bold;
    color: #1b1b1c;
}

.update-board-td {
    background-color: #f2f2f2;
}

/* Input, Textarea 스타일 */
.update-board-input,
.update-board-textarea,
.update-board-file {
    width: 95%;
    padding: 10px;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    box-sizing: border-box;
}

.update-board-textarea {
    resize: none;
}

/* 버튼 그룹 */
.update-board-button-group {
    text-align: center;
    margin-top: 20px;
}

/* 버튼 스타일 */
.update-board-submit {
    padding: 10px 20px;
    background-color: #d2e5ee;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.update-board-submit:hover {
    background-color: #8fb1d5;
}

.update-board-cancel {
    padding: 10px 20px;
    background-color: #f2f2f2;
    color: #1b1b1c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.update-board-cancel:hover {
    background-color: #cdcdcd;
}
